.footer {
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  color: red;
  background-color: black;
}
@media (min-width: 30em) and (max-width: 50em) {
  .footer {
    text-align: center;
    padding: 2rem;
    font-size: 1.4rem;
    color: red;
    background-color: black;
  }
}
