.main {
  padding: 2rem;
}
p {
  padding: 1rem;
  font-family: sans-serif;
  line-height: 1.5rem;
  width: 40%;
  position: relative;
  left: 30%;
}

.mainfirstdiv h3 {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
@media (min-width: 30em) and (max-width: 50em) {
  p {
    padding: 1rem;
    font-family: sans-serif;
    line-height: 1.5rem;
    width: 90%;
    position: relative;
    left: 5%;
  }
  .mainfirstdiv h3 {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
  }
}
